body {
    background-color: slategray;
    font-family: "Proxima Nova", sans-serif ;
}

header {
    padding: 40px;
    background: darkslategray;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    z-index: 2;
}

main {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

article {
    display:flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}

article p {
    color: white;
    font-size: 20px;
    padding-top: 25px;
    text-align: center;
    width: 70%;
    line-height: 1.4;
}

header h1 {
    font-size: 15px;
}

h2 {
    font-size: 30px;
    padding-top: 30px;
    color: white
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 45px;
}

nav ul li {
    padding-left: 15px;
    padding-right: 15px;
}

section h2 {
    width: 150px;
    border-bottom: 5px;
    border-style: solid;
    border-color: darkslategray;
    text-align: center;
    line-height: 1.5;
}

#bannerText {
    position: absolute;
    right: 2vw;
    top: 31vh;
    z-index: 1;
    color:black;
    background-color: lightgray;
    text-align: center;
    width: 310px;
    height: 40px;
    line-height: .3;
    border-radius: 15px;
    z-index: -1;
    transform: scale(.7)
    
}

.navList {
    list-style: none;
}

.test {
    background-color: red;
}

#bannerImg {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    display: block;
    z-index: -2;
}

#sectionBanner {
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (min-width: 540px) {
    header {
        font-size: 20px;
    }
    
    header h1 {
        font-size: 25px;
    }

    section h2 {
        transform: scale(.7)
    }
}

@media screen and (min-width: 675px) {
    header {
        font-size: 30px;
    }
    
    header h1 {
        font-size: 35px;
    }

    section h2 {
        transform: scale(1)
    }
}
