html {
    scroll-behavior: smooth;
}

body {
    background-color: slategray;
    font-family: "Proxima Nova", sans-serif ;
}

header {
    padding: 40px;
    background: darkslategray;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
}

main {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 95px;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

article {
    display:flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}

article p {
    color: white;
    font-size: 20px;
    padding-top: 25px;
    text-align: center;
    width: 70%;
    line-height: 1.4;
}

header h1 {
    font-size: 14px;
}

h2 {
    font-size: 30px;
    padding-top: 30px;
    color: white
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    right: 40px;
}

nav ul li {
    padding-left: 15px;
    padding-right: 15px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.navList {
    list-style: none;
}

.test {
    background-color: red;
}

.spacing {
    width: 43vw;
}

.h2Styling {
    width: 150px;
    border-bottom: 5px;
    border-style: solid;
    border-color: darkslategray;
    text-align: center;
    line-height: 1.5;
    padding-top: 60px;
}

.h3Styling {
    text-align: center;
    line-height: 1.5;
    color: white;
    font-size: 25px;
    background-color: darkslategray;
    width: 350px;
    border-radius: 15px;
}

.works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;

}

.worksContainer {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    height: 720px;
    justify-content: center;
    padding-top: 20px;

}

.placeholder {
    transform: scale(.8);
}

#workHeader {
    width: 100%;
    display: flex;
    justify-content: center;
}

#bannerImg {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    display: block;
    z-index: -2;
}


.contactBoxes {
    flex: 1 1 50px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -50px;
}

#contactContainer {
    width: 100%;
    height: 40px;
    display: flex;
    padding-bottom: 300px;
}

#bannerText {
    position: absolute;
    right: 2vw;
    top: 31vh;
    z-index: 1;
    color:black;
    background-color: lightgray;
    text-align: center;
    width: 310px;
    height: 40px;
    border-radius: 15px;
    z-index: -1;
    transform: scale(.7);
    padding-top: 0;  
    padding-bottom: 5px  
}

#sectionBanner {
    display: flex;
    flex-wrap: nowrap;
}


@media screen and (min-width: 540px) {
    header {
        font-size: 13px;
    }
    
    header h1 {
        font-size: 18px;
    }

    section h2 {
        transform: scale(.7)
    }
}

@media screen and (min-width: 675px) {
    header {
        font-size: 20px;
    }
    
    header h1 {
        font-size: 25;
    }

    section h2 {
        transform: scale(1)
    }

    .placeholder {
        height: 360px;
        width: 640px;
    }
}
